Thumbs.db
.DS_Store
.idea
*.ai
*.log
*.pdf
*.psb
*.psd
*.sublime*
*.code-workspace
.vscode/

# Object file
*.o

# Ada Library Information
*.ali

# Specification folder
specification/

# Node.js modules
node_modules/
npm-debug.*

# Build folder
build/

#Raw image folder
source/img-raw/
