-
  const viewportHeaderListTwoColumnMinWidth = '(min-width: 480px)';
  const viewportSmallMaxWidth = '(max-width: 767px)';
  const viewportMediumMinWidth = '(min-width: 768px)';
  const viewportMediumMaxWidth = '(max-width: 1279px)';
  const viewportLargeMinWidth = '(min-width: 1280px)';

block variables

include _i_data.pug
include _i_components.pug

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title= `Roombox`
    meta(name='description' content='Ремонт квартир')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='cmsmagazine' content='cdc79537f1d9f113c73cd2fd46ca0125')
    meta(name='author' content='Веб-студия WayToStart')
    link(rel='preload' href='fonts/gothampro-regular.woff2' as='font' crossorigin)
    link(rel='preload' href='fonts/gothampro-medium.woff2' as='font' crossorigin)
    link(rel='preload' href='fonts/gothampro-black.woff2' as='font' crossorigin)
    link(rel='stylesheet' href='css/main.min.css')
  body.roombox-page
    .roombox-page__header
      +roombox-page-header()
    .roombox-page__main
      +roombox-page-main()
    block custom-scripts
    script(src='js/picturefill.js')
