@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Gotham Pro";
  font-display: swap;

  src: local("Gotham Pro"),
    local("GothamPro"),
    url("../fonts/gothampro-regular.woff2") format("woff2"),
    url("../fonts/gothampro-regular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Gotham Pro";
  font-display: swap;

  // src: local("Gotham Pro Medium"),
  //   local("GothamPro-Medium"),
  src:
    url("../fonts/gothampro-medium.woff2") format("woff2"),
    url("../fonts/gothampro-medium.woff") format("woff");
}

@font-face {
  font-weight: 900;
  font-style: normal;
  font-family: "Gotham Pro";
  font-display: swap;

  // src: local("Gotham Pro Black"),
  //   local("GothamPro-Black"),
  src:
    url("../fonts/gothampro-black.woff2") format("woff2"),
    url("../fonts/gothampro-black.woff") format("woff");
}
