.roombox-aligner {
  @include margin-hor;
  padding-left: 10px;
  padding-right: 10px;

  @include outline;

  @media (min-width: $m-min-width) {
    width: $m-min-width;
  }

  @media (min-width: $l-min-width) {
    width: $l-min-width;
  }
}
