@mixin font($fontWeight: 400, $fontSize: 18px, $lineHeight: 27px) {
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-family: "Gotham Pro", "Arial", sans-serif;
}

@mixin margin-hor($marginHorizontal: auto) {
  margin-left: $marginHorizontal;
  margin-right: $marginHorizontal;
}

@mixin list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

@mixin outline {
  outline: 1px solid green;
  outline-offset: -1px;
}
