$s-min-width: 320px;
$s-max-width: 767px;
$headerlist-twocolumn-min: 500px;
$m-min-width: 768px;
$m-max-width: 1279px;
$l-min-width: 1280px;
$task-paragraph-font-resize: 1600px;
$l-max-width: 1760px;
$development-image-max-width: 1920px;

$middle-gray: #767676;
$ultra-dark: #131323;
