$s-min-width: 320px;
$s-max-width: 767px;
$headerlist-onecolumn-max: 479px;
$headerlist-twocolumn-min: 480px;
$m-min-width: 768px;
$m-max-width: 1279px;
$l-min-width: 1280px;
$l-max-width: 1760px;

$middle-gray: #767676;
$ultra-dark: #131323;
