-
  const pageHeaderList_overall = [
    'UX & UI',
    'Art-direction',
    'September 2018'
  ];

-
  const pageHeaderList_technologies = [
    'Figma',
    'Photoshop',
    'HTML 5',
    'CSS 3',
    'JS',
    'Laravel'
  ];
