.roombox-development__heading {
  text-align: center;
}

.roombox-development__content {
  overflow: hidden;
  width: 100%;
  height: 200px;
}

.roombox-development__image {
  @include margin-hor;
  width: 770px;
  height: 200px;
  background-color: blue;
}
