.roombox-development {
  position: relative;
}

.roombox-development__heading {
  text-align: center;
}

.roombox-development__content {
  --roombox-development__content-vertical-shift-factor: -412;
  position: absolute;
  top: calc(var(--roombox-development__content-vertical-shift-factor) * (100vw - 320px) / 768);
  left: 0;
  z-index: -1;
  width: 100%;

  @media (min-width: $m-min-width) {
    --roombox-development__content-vertical-shift-factor: -350;
  }
}

.roombox-development__image {
  width: 100%;
  height: auto;
}
