.roombox-page-main__banner {
  width: 100%;
  margin-bottom: 80px;

  @media (min-width: $m-min-width) {
    margin-bottom: 100px;
  }

  @media (min-width: $l-min-width) {
    margin-bottom: 120px;
  }
}

.roombox-page-main__task {
  margin-bottom: 80px;

  @media (min-width: $m-min-width) {
    margin-bottom: 120px;
  }

  @media (min-width: $l-min-width) {
    margin-bottom: 160px;
  }
}
